{% extends 'base.html.twig' %}

{% block title %}Supply index{% endblock %}

{% block body %}
    <h1>Supply index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Reference</th>
                <th>Quantity</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for supply in supplies %}
            <tr>
                <td>{{ supply.id }}</td>
                <td>{{ supply.name }}</td>
                <td>{{ supply.reference }}</td>
                <td>{{ supply.quantity }}</td>
                <td>{{ supply.createdAt ? supply.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ supply.updatedAt ? supply.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('supply_show', {'id': supply.id}) }}">show</a>
                    <a href="{{ path('supply_edit', {'id': supply.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('supply_new') }}">Create new</a>
{% endblock %}
